AMW_maia_federation/src/main/resources/wsdl/ch-mobi-maia-amw-MaiaAmwFederationService-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:service-ch-mobi-maia-amw-maiaamwfederation="http://xml.mobi.ch/service/ch/mobi/maia/amw/v1_0/MaiaAmwFederationService/datatype"
		xmlns:tns="http://xml.mobi.ch/service/ch/mobi/maia/amw/MaiaAmwFederationService/v1_0"
		name="MaiaAmwFederationService"
		targetNamespace="http://xml.mobi.ch/service/ch/mobi/maia/amw/MaiaAmwFederationService/v1_0">
	
	<!-- modelName: ch.mobi.maia.amw.MaiaAmwFederationService.v1_0 -->
	<!-- featureSoap: soap1208 -->
	<!-- generated: 2015_12_17_10_08 -->
<wsdl:documentation>ch.mobi.maia.amw.MaiaAmwFederationService.v1_0: </wsdl:documentation>
	
	<!-- Partner Link -->    
	<plnk:partnerLinkType name="MaiaAmwFederation_PLT"> 
		<plnk:role name="MaiaAmwFederationProcessProcess" portType="tns:MaiaAmwFederationPortType"/>
	</plnk:partnerLinkType>
	<!-- Types -->  
	<wsdl:types> 
	<xsd:schema 
		xmlns:type-ch-mobi-common-commonsv3_0="http://xml.mobi.ch/datatype/common/Commons/v3"
		xmlns:type-ch-mobi-maia-amw-maiaamwfederationservicetypesv1_0="http://xml.mobi.ch/datatype/ch/mobi/maia/amw/MaiaAmwFederationServiceTypes/v1_0"
		xmlns:tns="http://xml.mobi.ch/service/ch/mobi/maia/amw/v1_0/MaiaAmwFederationService/datatype"
		targetNamespace="http://xml.mobi.ch/service/ch/mobi/maia/amw/v1_0/MaiaAmwFederationService/datatype" 
		version="1.0">
		<xsd:import namespace="http://xml.mobi.ch/datatype/common/Commons/v3" schemaLocation="../schema/common-Commons-3.0.xsd"/>
		<xsd:import namespace="http://xml.mobi.ch/datatype/ch/mobi/maia/amw/MaiaAmwFederationServiceTypes/v1_0" schemaLocation="../schema/ch-mobi-maia-amw-MaiaAmwFederationServiceTypes-v1.0.xsd"/>
		<!-- 
		***************************************************
		Schema elements for synchronous operation 'update' 
		***************************************************
		-->
		<!-- Request element for operation 'update' -->  
		<xsd:element name="update" type="tns:update"/>
		<!-- Request complex Type for operation 'update' -->
		<xsd:complexType name="update">
		<xsd:sequence>
		<xsd:element name="callContext" type="type-ch-mobi-common-commonsv3_0:CallContext" />
		<xsd:element name="fcOwner" type="xsd:string" />
		<xsd:element name="update" type="type-ch-mobi-maia-amw-maiaamwfederationservicetypesv1_0:UpdateRequest" />
		</xsd:sequence>  
		</xsd:complexType>
		<!-- Response element for operation 'update' -->
		<xsd:element name="updateResponse" type="tns:updateResponse"/>
		<!-- Response complex Type for operation 'update' -->  
		<xsd:complexType name="updateResponse">
		<xsd:sequence> 
		<xsd:element name="result" type="type-ch-mobi-maia-amw-maiaamwfederationservicetypesv1_0:UpdateResponse" />
		</xsd:sequence> 
		</xsd:complexType>
		<!-- 
		***************************************************
		Schema elements for synchronous operation 'ping' 
		***************************************************
		-->
		<!-- Request element for operation 'ping' -->  
		<xsd:element name="ping" type="tns:ping"/>
		<!-- Request complex Type for operation 'ping' -->
		<xsd:complexType name="ping">
		<xsd:sequence>
		</xsd:sequence>  
		</xsd:complexType>
		<!-- Response element for operation 'ping' -->
		<xsd:element name="pingResponse" type="tns:pingResponse"/>
		<!-- Response complex Type for operation 'ping' -->  
		<xsd:complexType name="pingResponse">
		<xsd:sequence> 
		</xsd:sequence> 
		</xsd:complexType>
		<xsd:element name="ValidationException" type="type-ch-mobi-common-commonsv3_0:ValidationException"/>
		<xsd:element name="BusinessException" type="type-ch-mobi-common-commonsv3_0:BusinessException"/>
		<xsd:element name="TechnicalException" type="type-ch-mobi-common-commonsv3_0:TechnicalException"/>
	</xsd:schema> 
	</wsdl:types>
	<!-- Messages -->
	<!-- 
	***************************************************
	Messages for synchronous operation 'update' 
	***************************************************
	-->
	<wsdl:message name="update"> 
		<wsdl:part name="parameters" element="service-ch-mobi-maia-amw-maiaamwfederation:update"/> 
	</wsdl:message> 
	<wsdl:message name="updateResponse"> 
		<wsdl:part name="parameters" element="service-ch-mobi-maia-amw-maiaamwfederation:updateResponse"/> 
	</wsdl:message>  
	<!-- 
	***************************************************
	Messages for synchronous operation 'ping' 
	***************************************************
	-->
	<wsdl:message name="ping"> 
		<wsdl:part name="parameters" element="service-ch-mobi-maia-amw-maiaamwfederation:ping"/> 
	</wsdl:message> 
	<wsdl:message name="pingResponse"> 
		<wsdl:part name="parameters" element="service-ch-mobi-maia-amw-maiaamwfederation:pingResponse"/> 
	</wsdl:message>  
	<wsdl:message name="ValidationException"> 
		<wsdl:part name="fault" element="service-ch-mobi-maia-amw-maiaamwfederation:ValidationException"/> 
	</wsdl:message>  
	<wsdl:message name="BusinessException"> 
		<wsdl:part name="fault" element="service-ch-mobi-maia-amw-maiaamwfederation:BusinessException"/> 
	</wsdl:message>  
	<wsdl:message name="TechnicalException"> 
		<wsdl:part name="fault" element="service-ch-mobi-maia-amw-maiaamwfederation:TechnicalException"/> 
	</wsdl:message>  
	<!-- port type --> 
	<wsdl:portType name="MaiaAmwFederationPortType">
		<wsdl:operation name="update">
			<wsdl:input message="tns:update"/>  
			<wsdl:output message="tns:updateResponse"/>
			<wsdl:fault message="tns:ValidationException" name="ValidationException"/>
			<wsdl:fault message="tns:BusinessException" name="BusinessException"/>
			<wsdl:fault message="tns:TechnicalException" name="TechnicalException"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:ping"/>  
			<wsdl:output message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<!-- Bindings -->
	<wsdl:binding name="MaiaAmwFederationServicePortBinding" type="tns:MaiaAmwFederationPortType"> 
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>  
			<!-- 
			***************************************************
			Bindings for synchronous operation 'update' 
			***************************************************
			-->
			<wsdl:operation name="update"> 
			<soap:operation soapAction=""/>  
			<wsdl:input> 
			<soap:body use="literal"/> 
			</wsdl:input>  
			<wsdl:output> 
			<soap:body use="literal"/> 
			</wsdl:output> 
			<wsdl:fault name="ValidationException"> 
			<soap:fault name="ValidationException" use="literal"/> 
			</wsdl:fault>
			<wsdl:fault name="BusinessException"> 
			<soap:fault name="BusinessException" use="literal"/> 
			</wsdl:fault>
			<wsdl:fault name="TechnicalException"> 
			<soap:fault name="TechnicalException" use="literal"/> 
			</wsdl:fault>
			</wsdl:operation>
			<!-- 
			***************************************************
			Bindings for synchronous operation 'ping' 
			***************************************************
			-->
			<wsdl:operation name="ping"> 
			<soap:operation soapAction=""/>  
			<wsdl:input> 
			<soap:body use="literal"/> 
			</wsdl:input>  
			<wsdl:output> 
			<soap:body use="literal"/> 
			</wsdl:output> 
			</wsdl:operation>
		</wsdl:binding>  
	<!-- Service port binding-->  
	<wsdl:service name="MaiaAmwFederationService"> 
		<wsdl:port name="MaiaAmwFederationPort" binding="tns:MaiaAmwFederationServicePortBinding"> 
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/> 
		</wsdl:port>
	</wsdl:service> 
</wsdl:definitions>
